In [128]:
import pandas as pd

In [143]:
df = pd.read_csv('D:\\Personal\\GitHub\\Data_science\\ru-list.csv', encoding='pt154', index_col=False)

In [152]:
df_r_est = pd.read_csv('D:\\Personal\\GitHub\\Data_science\\df_clean.csv', index_col=False)

In [146]:
df_lenobl = df[df['republic'] == 'Ленинградская']

In [150]:
del df_lenobl['Unnamed: 5']

In [151]:
df_lenobl

            republic          region           city     lon     lat
41338  Ленинградская  Бокситогорский  Абрамова Гора  34.733  59.666
41339  Ленинградская  Бокситогорский   Алешины Нивы  34.650  59.716
41340  Ленинградская  Бокситогорский   Амосова Гора  34.883  59.883
41341  Ленинградская  Бокситогорский      Анисимово  34.233  59.316
41342  Ленинградская  Бокситогорский        Астрачи  33.650  59.616
...              ...             ...            ...     ...     ...
43773  Ленинградская      Тосненский    Чудской Бор  31.416  59.350
43774  Ленинградская      Тосненский          Шапки  31.183  59.600
43775  Ленинградская      Тосненский          Шумба  30.600  59.500
43776  Ленинградская      Тосненский       Ям-Ижора  30.600  59.700
43777  Ленинградская      Тосненский           Ямок  31.200  59.300

[2440 rows x 5 columns]

In [153]:
df_r_est

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,...,day_of_week,sale_month,sale_year,sale_month_num,sale_day,dow_mont_year,floor_var,total_corr_living,total_corr_kitchen,locality_pre_name
0,7,3350000,40.40,2018-12-04,1,2.65,11,18.600000,1,False,...,Tues,Dec,2018,12,4,"Tues, Dec, 2018",first,2.172043,3.672727,посёлок Шушары
1,10,5196000,56.00,2015-08-20,2,2.65,5,34.300000,4,False,...,Thurs,Aug,2015,8,20,"Thurs, Aug, 2015",other,1.632653,6.746988,Санкт-Петербург
2,10,2890000,30.40,2018-09-10,1,2.65,12,14.400000,5,False,...,Mon,Sep,2018,9,10,"Mon, Sep, 2018",other,2.111111,3.340659,городской посёлок Янино-1
3,5,7915000,71.60,2019-04-18,2,2.65,24,40.682235,22,False,...,Thurs,Apr,2019,4,18,"Thurs, Apr, 2019",other,1.759982,3.788360,Санкт-Петербург
4,20,2900000,33.16,2018-05-23,1,2.65,27,15.430000,26,False,...,Weds,May,2018,5,23,"Weds, May, 2018",other,2.149060,3.763905,посёлок Мурино
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20114,11,9470000,72.90,2016-10-13,2,2.75,25,40.300000,7,False,...,Thurs,Oct,2016,10,13,"Thurs, Oct, 2016",other,1.808933,6.877358,Санкт-Петербург
20115,2,1350000,30.00,2017-07-07,1,2.65,5,17.500000,4,False,...,Fri,Jul,2017,7,7,"Fri, Jul, 2017",other,1.714286,5.000000,Тихвин
20116,9,4600000,62.40,2016-08-05,3,2.60,9,40.000000,8,False,...,Fri,Aug,2016,8,5,"Fri, Aug, 2016",other,1.560000,7.800000,Петергоф
20117,14,3100000,59.00,2018-01-15,3,2.65,5,38.000000,4,False,...,Mon,Jan,2018,1,15,"Mon, Jan, 2018",other,1.552632,6.941176,Тосно
20118,18,2500000,56.70,2018-02-11,2,2.65,3,29.700000,1,False,...,Sun,Feb,2018,2,11,"Sun, Feb, 2018",first,1.909091,5.944671,село Рождествено